<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Read Default Focus</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label>Enter Title</label>
                        <input type="text" #inputBox class="form-control">                        
                    </div>                     
                    <div class="form-group">
                        <button class="btn btn-primary" >Submit</button>
                    </div>                     
                </form>                 
            </div>
        </div>
    </div>
</div>